<!-- Banner -->
  <section id="banner">
    {% assign post = site.posts | first %}
    {% if paginator %}
      {% assign post = paginator.posts | first %}
    {% endif %}
    {% if post %}
      <div class="content">
        <header>
          <h1>{{ post.title | escape }}</h1>
          {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
          <p>
            {{ post.date | date: date_format }}
            {% if post.tags %}
              | Tags: {{ post | tags }}
            {% endif %}
          </p>
        </header>
        <p>{{ post.excerpt | strip_html | remove: '<p>' | remove: '</p>' }}</p>
        <footer>
          {% if site.disqus.shortname %}
          <a class="comments" href="{{ post.url | absolute_url }}#disqus_thread">{{ post.title | escape }}</a>
          {% endif %}
          <ul class="actions">
            <li><a href="{{ post.url | relative_url }}" class="button big">Ver más</a></li>
          </ul>
        </footer>
      </div>
      {% if post.image != "no_image" %}
        <span class="image object">
          <a href="{{ post.url | relative_url }}"><img src="{{ post.image }}" alt="{{ post.title | escape }}" /></a>
        </span>
      {% endif %}
    {% endif %}
  </section>
