---
layout: default
---

{{ content }}

{% include post_banner.html %}

<!-- Section -->
  <section>
    <header class="major">
      <h2>Mis habilidades</h2>
    </header>
    <div class="features">
      <article>
        <span class="icon devicon devicon-cplusplus-plain"></span>
        <div class="content">
          <h3>C++</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon devicon devicon-nodejs-plain"></span>
        <div class="content">
          <h3>Node JS</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon devicon devicon-python-plain"></span>
        <div class="content">
          <h3>Python</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon devicon devicon-amazonwebservices-plain"></span>
        <div class="content">
          <h3>DevOS</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon devicon devicon-android-plain"></span>
        <div class="content">
          <h3>Android</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon devicon devicon-angularjs-plain"></span>
        <div class="content">
          <h3>Angular JS</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon devicon devicon-docker-plain"></span>
        <div class="content">
          <h3>Docker</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
      <article>
        <span class="icon devicon devicon-git-plain"></span>
        <div class="content">
          <h3>Git</h3>
          <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
        </div>
      </article>
    </div>
  </section>

<!-- Section -->
  <section>
    <header class="major">
      <a href="{% link blog.md %}"><h2>Ultimos Posts</h2></a>
    </header>
    <div class="posts">
      {% for post in site.posts offset:1 limit:6 %}
        {% include post_article.html %}
      {% endfor %}
    </div>
  </section>

  <section>
    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  </section>

{% if site.disqus.shortname %}
  <script id="dsq-count-scr" src="https://{{site.disqus.shortname}}.disqus.com/count.js" async></script>
{% endif %}
