---
layout: default
---

<!-- Content -->
  <section itemscope itemtype="http://schema.org/BlogPosting">
    <header class="main">
      <h1 itemprop="name headline">{{ page.title | escape }}</h1>
      <ul>
        <li>
          <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            {{ page.date | date: date_format }}
          </time>
        </li>
        {% if page.author %}
          <li>
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
              <span itemprop="name">{{ page.author }}</span>
            </span>
          </li>
        {% endif %}
      </ul>
    </header>

    {% if page.banner_image %}
      {% if page.banner_image != "no_image" %}
        <span class="image main"><img src="{{ page.banner_image }}" alt="{{ page.title | escape }}" /></span>
      {% endif %}
    {% else %}
      <span class="image main"><img src="{{ page.image }}" alt="{{ page.title | escape }}" /></span>
    {% endif %}

    <div class="post-content" itemprop="articleBody">
      {{ content }}
    </div>

    {% if site.disqus.shortname %}
      {% include disqus_comments.html %}
    {% endif %}

  </section>

